@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root { height: 100%; }

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-fg: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-fg: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;

    --primary: 221.2 83.2% 53.3%;
    --primary-fg: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-fg: 222.2 47.4% 11.2%;

    --danger: 0 84.2% 60.2%;
    --danger-fg: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 5.5%;
    --card-fg: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-fg: 215 20.2% 65.1%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 215 20.2% 65.1%;

    --primary: 217.2 91.2% 59.8%;
    --primary-fg: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-fg: 210 40% 98%;

    --danger: 0 74% 50%;
    --danger-fg: 0 0% 100%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


